// scale
$scale: 1rem;

// font-weight
$fw-thin: 100;
$fw-extraLight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 800;

//colors
$c-pink: #FF53FF;
$c-blue: #7FECF8;
$c-blackBlue: #00215F;
