* {
    box-sizing: border-box;
    font-size: 0;
}

div,
p,
ul,
li,
b,
span,
a {
    font-size: inherit;
}

sup {
    font-size: 45%;
    vertical-align: super;
    top: 0;
}

html,
button,
ul,
li{
    line-height: normal;
}

body
{
    font-family: 'Murecho', sans-serif;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

.showModal {
    position: fixed;
    height: 100vh;
    width: 100%;
}

.text-shadow-1 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.text-shadow-2 {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.pink {
    color: #FF53FF;
}

.blue {
    color: #7FECF8;
}

.black {
    color: #00215F;
}

.white {
    color: #fff;
}

/* mobile*/
@media (max-width: 1023px) {
    .onlyDesktop {
        display: none !important;
    }

    .vue-horizontal {
        width: 3.75rem;
        margin-left: -0.15rem;
    }

    .v-hl-container {
        padding-left: 0.15rem !important;
        padding-bottom: 0.5rem !important;
        margin-bottom: -0.5rem !important;
        clip-path: none !important;
    }

    .mobileScrollBlock {
        overflow-y: scroll;
        padding-bottom: 0.8rem;
        margin-bottom: -0.8rem;
        width: 3.75rem;
        margin-left: -0.15rem;
        padding-left: 0.15rem;
        padding-right: 0.15rem;
        scrollbar-width: none;
    }

    .iconSwipe {
        margin-left: auto;
        width: 0.3rem;
        height: 0.3rem;
    }
}

/* desktop */
@media (min-width: 1024px) {
    .onlyMobile {
        display: none !important;
    }

    .v-hl-container {
        justify-content: space-between;
        clip-path: none !important;
        overflow: visible !important;
        flex-wrap: wrap;
    }

    .iconSwipe {
        display: none;
    }
}
